# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg 
.venv/

# logs
cron_log.txt

# Ignore contents but keep directories with .gitkeep
abstract_md/*
!abstract_md/.gitkeep
deliverable/*
!deliverable/.gitkeep
articles/*
!articles/.gitkeep 